

<div class="question">
  <%= form_with(model: question, local: true) do |form| %>
    <% if question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(question.errors.count, "error") %> Расскажите о своем опыте разработки</h2>

        <ul>
          <% question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :"Расскажите о своем опыте разработки игр" %>
      <%= form.text_area :content %>
    </div>


    <div class="action_div">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>

  <% end %>
</div>
