<%= stylesheet_link_tag "navbarleft" %>
<nav class="navleft">
  <div>
    КАРТИНКА: <%= image_tag(@user.image.url, alt: 'Image') if @user.image? %>
    <td><%= @user.username %></td>
    <%= link_to "О нас", about_path %>
    <%= link_to "Публикации", posts_path %>
    <%= link_to 'Создать пост', new_post_path %>
    <a href="#email">Вступить</a>
  </div>
</nav>
