<%= stylesheet_link_tag "navbarleft" %>
<nav class="navleft">
  <div class="top">
    <div class="user_info">
      <div class=""><%= image_tag(current_user.image.small_thumb.url, alt: 'Image') if current_user.image? %></div>
      <span class=""><%= current_user.username %></span>
      <span><%= current_user.email %></span>
    </div>
    <div class="nav_content">
      <%#= link_to "Посты", admin_context_path(posts: "") %>
      <%= link_to "Кураторский контент", admin_context_path(curatorposts: "") %>
      <%= link_to "Посты пользователей", admin_context_path(posts: "", post_type: "portfolio") %>
      <%= link_to "Кладбище проектов", admin_context_path(posts: "", post_type: "necrology") %>
      <%= link_to "Категории", admin_context_path(categories: "") %>
      <%= link_to "Загадки", admin_context_path(posts: "", post_type: "puzzles") %>
      <%= link_to "Пользователи", admin_context_path(users: "") %>
      <%= link_to "Комментарии", admin_context_path(comments: "") %>
    </div>
  </div>

  <div class="user_action">
    <%= link_to 'Account', current_user %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  </div>

</nav>
