<body>
  <%= render 'navbar/navbarleft' %>
  <div class="please">
<%= @whatcontenttoshow %>

<% if @whatcontenttoshow == "show-posts" %>
  <div class="wrapper_posts">

      <div class="create">
        <div class="button_and_list">
          <span class="hey">Создать публикацию</span>
          <ul>
            <li><%= link_to 'Создать новость', newnews_posts_path %></li>
            <li><%= link_to 'Создать событие', newevents_posts_path %></li>
            <li><%= link_to 'Создать статью', newarticles_posts_path %></li>
            <li><%= link_to 'Создать обзор', newreviews_posts_path %></li>
          </ul>
        </div>
      </div>
      <h1>Публикации</h1>
      <div class="filters">
        <div class="button_and_list_filters">
          <span class="drop_down_button">Категории &#9660</span>
          <ul>
          <% Category.all.each do |cat| %>
            <li><%= link_to cat.name, admin_context_path(posts: "", category: cat.name) %></li>
          <% end %>
          </ul>
        </div>
      </div>
      <table>
        <thead>
          <tr>
             <th>Заголовок</th>
             <th>Автор</th>
             <th>Категории</th>
             <th>Опубликовано</th>
             <th>Активность</th>
             <th></th>
             <th></th>
             <th>Действия</th>
             <th></th>
          </tr>
        </thead>
        <tbody>

        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, post %></td>
            <td class="author"><span><%= post.author %></span></td>
            <td class="category.name"><span>
              <% if post.category_id? %>
              <%= post.category.name %>
              <% end %>
            </span></td>
            <td><span><%= post.created_at.mday %>.<%= post.created_at.month %>.<%= post.created_at.year %></span></td>
            <td><%= image_tag("like_icon.svg", :alt => "like") %><div><%= post.likes.count %></div></td>
            <td><%= image_tag("comment_icon.svg", :alt => "comment") %><div><%= post.comments.count %></div></td>
            <td><%= image_tag("favorite_icon.svg", :alt => "like") %><div><%= post.favorites.count %></div></td>
            <td><%= link_to image_tag("edit_icon.svg"), edit_post_path(post) %></td>
            <td><%= link_to image_tag("delete_icon.svg"), post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>


          <% end %>
        </tbody>
      </table>

    </div>
<% end %>

    <br>
<% if @whatcontenttoshow == "show-categories" %>
    <div class="wrapper_categories">
      <div class="create">
        <%= link_to 'Создать категорию', new_category_path, class: "hey" %>
      </div>
      <h1>Категории</h1>

      <table>
        <thead>
          <tr>
            <th>Категория</th>
            <th>Раздел</th>
            <th>Описание</th>
            <th>Дата создания</th>
            <th>Действия</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><span><%= link_to category.name, category %></span></td>
              <td><span><%= category.post_type.name %></span></td>
              <td><span><%= category.description %></span></td>
              <td><span><%= category.created_at.mday %>.<%= category.created_at.month %>.<%= category.created_at.year %></span></td>
              <td><%= link_to image_tag("edit_icon.svg"), edit_category_path(category) %></td>
              <td><%= link_to image_tag("delete_icon.svg"), category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
<% end %>

<% if @whatcontenttoshow == "show-users" %>
    <div class="wrapper_users">
      <h1>Пользователи</h1>
      <table>
        <thead>
          <tr>
            <th>Пользователь</th>
            <th>ID</th>
            <% if user_signed_in? && current_user.admin == true %>
              <th class="role">Статус</th>
            <% end %>
            <th>Почта</th>
            <th>Создан</th>
            <th>Действия</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag(user.image.thumb.url, alt: 'Image') if user.image? %><span><%= user.username %></span></td>
              <td><%= user.id %></td>
              <% if user_signed_in? && current_user.admin == true %>
                <% if user.admin == true %>
                  <td>Админ</td>
                <% elsif user.ismoderator == true %>
                  <td>Модератор</td>
                <% elsif user.isdeveloper == true %>
                  <td>Разработчик</td>
                <% else %>
                  <td>Пользователь</td>
                <% end %>
              <% end %>
              <td><span><%= link_to user.email, user %></span></td>
              <td><span><%= user.created_at.mday %>.<%= user.created_at.month %>.<%= user.created_at.year %><span/></td>
              <td><%= link_to 'Переназначить', edit_user_path(user) %></td>
              <td><%= link_to "Заблокировать", user, method: :delete, data: { confirm: "Are you sure?" } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>

<% if @whatcontenttoshow == "show-comments" %>
    <div class="wrapper_comments">
      <h1>Комментарии</h1>
      <table>
        <thead>
          <tr>
            <th>Комментарий</th>
            <th>Пользователь</th>
            <th>В ответ на</th>
            <th>Раздел</th>
            <th>Создан</th>
            <th>Действия</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><span><%= link_to comment.body %></span></td>
              <td><span><%= User.find(comment.user_id).username %></span></td>
              <td><span><%= Post.find(comment.post_id).title %></span></td>
              <td><span><%= Post.find(comment.post_id).post_type.name %></span></td>
              <td><span><%= comment.created_at.mday %>.<%= comment.created_at.month %>.<%= comment.created_at.year %></span></td>
              <td><%= link_to image_tag("edit_icon.svg"), [comment.post, comment],
          	               :method => :edit %></td>
              <td><%= link_to image_tag("delete_icon.svg"), [comment.post, comment],
          	               :confirm => 'Are you sure?',
          	               :method => :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>






      <!--
          <%= image_tag("news.svg", :alt => "Новости") %>
          <h2>All Categories</h2>
          <% Category.all.each do |cat| %>
          	<%= link_to cat.name, posts_path(category: cat.name) %> <br>
          <% end %>
          <br>


            <% @pt.each do |pt| %>
            Тут стоит тип поста:<%= pt.name %><br>
            <% end %>

            <% if @hascat %>
              <% @cat.each do |blabla| %>
                Тут стоит категория: <%= blabla.name %><br>
              <% end %>
            <% end %>

      -->
</body>
