<%= stylesheet_link_tag "footerinner" %>

<footer>
  <div class="footer_menu">
    <%= link_to "О нас", about_path %>
    <%= link_to "Фичи", posts_path %>
    <%= link_to 'Разработчикам', new_post_path %>
  </div>
  <div class="footer_info">
    <div class="footer_help">
      <p>Остались вопросы?<br> Пишите нам в&nbsp;телеграм:</p>
      <p>+7 933 676 56 16</p>
    </div>
    <div class="footer_sites">
       <p>Добавляетесь к&nbsp;нам в&nbsp;соц. сети! Будет много интересного</p>
       <div class="footer_sites_th">
          <%= image_tag("inst.svg", :alt => "Логотип") %>
          <%= image_tag("vk.svg", :alt => "Логотип") %>
          <%= image_tag("youtube.svg", :alt => "Логотип") %>
          <%= image_tag("twitter.svg", :alt => "Логотип") %>
       </div>
    </div>
  </div>
  <div class="added_info">
    <%= image_tag("graylogo.svg", :alt => "Логотип") %>
    <div class="added_info_added">
       <p>CoroOne</p>
       <p>2020</p>
    </div>
  </div>

</footer>
