<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<body class="promo">

<div class="land">
  <section class="begining">
    <div class="begin">
      <div class="begin_img">
        <%= image_tag("land_cover.svg", :alt => "Логотип") %>
      </div>
      <div class="begin_text">
        <h1>Здесь горят играми&nbsp;</h1>
        <p>Медиа-сервис для гейм-дизайнеров и&nbsp;геймеров</p>
        <button type="button" name="button">Вступить</button>
      </div>
    </div>

  </section>

  <section class="defenition">
    <div class="defenition_text">
      <h2>А ещё это...</h2>
      <%= image_tag("text1.svg", :alt => "Тоталитарно добрая соц.сеть") %>
    </div>
  </section>


  <section class="fichi">
    <div class="fichi_anime">
     <p>Что здесь происходит? Почему тоталитарное? Почему доброе? Мне дадут денег? Причем здесь я? АААААА почему так сложно? Головы бы этим дизайнерам недоделанным пооткусывать. Научите их делать лендинги кто-нибудь! </p>
    </div>

    <div class="fichi_first">
      <div class="fichi_first_text">
        <h3>Самоцензурящийся шрифт</h3>
        <p>&laquo;Твои игры&nbsp;&mdash; гавно&raquo;&nbsp;&mdash; это не&nbsp;фидбек, а&nbsp;мнение, к&nbsp;тому&nbsp;же совсем не&nbsp;полезное для начинающего разработчика. Именно поэтому на&nbsp;CoroOne установлен шрифт с&nbsp;самоцензурой, который убережет пользователей от&nbsp;неосторожно брошенных фраз.</p>
      </div>
      <div class="fichi_first_img">
          <%= image_tag("comment.svg", :alt => "Самоцензурящийся шрифт") %>
      </div>
    </div>

    <div class="fichi_second">
      <div class="fichi_second_img">
        <%= image_tag("censored.svg", :alt => "ФМодерация") %>
      </div>
      <div class="fichi_second_text">
        <h3>Модерация</h3>
        <p>Наша команда делает так, чтобы ваше общение с&nbsp;другими пользователями было максимально комфортным: мы&nbsp;следим за&nbsp;тем, чтобы в&nbsp;комментариях не&nbsp;было оскорблений, споров и&nbsp;негатива.</p>
      </div>
    </div>

    <div class="fichi_third">
      <div class="fichi_third_text">
        <h3>Фидбек по запросу</h3>
        <p>На&nbsp;CoroOne задействована уникальная механика, позволяющая получать фидбек, только если об&nbsp;этом попросишь, и&nbsp;про&nbsp;то, о&nbsp;чем спрашиваешь.</p>
      </div>
      <div class="fichi_third_img">
          <%= image_tag("true_comment.png", :alt => "Фидбек по запросу") %>
      </div>
    </div>

    <div class="fichi_anime2">
     <p>Ну допустим. С тоталитарно-добрым, вроде, разобрались. С сообществом тоже. А что еще? Какие плюшки я получу, если зарегистрируюсь?</p>
    </div>
  </section>



  <section class="diary">
    <%= image_tag("diary.svg", :alt => "Дневник разработчика") %>
    <div class="diary_text">
      <div class="diary_text_1">
        <h4>Продвижение</h4>
        <p>У&nbsp;каждого пользователя, получившего статус гейм-дизайнера, есть возможность разместить на&nbsp;сайте свое портфолио, оставить ссылки на&nbsp;игры и&nbsp;патреон.</p>
      </div>
      <div class="diary_text_2">
        <h4>Инструменты</h4>
        <p>Для удобной организации рабочего пространства, вы&nbsp;сможете создавать проекты и&nbsp;расписывать спринты для лучшего тайм-менеджмента.</p>
      </div>
      <div class="diary_text_3">
        <h4>Отслеживание прогресса</h4>
        <p>В&nbsp;CoroOne вы&nbsp;можете делиться нереализованными идеями. Так, вы&nbsp;сможете увидеть свой прогресс и&nbsp;похоронить &laquo;мертвые проекты&raquo; с&nbsp;честью.</p>
      </div>
    </div>
</section>



  <section class="sand">
    <div class="sand_img">
      <%= image_tag("form_gray_big.svg", :alt => "Серая фолма") %>
      <div class="sand_img2">
        <%= image_tag("sand.svg", :alt => "Песочница идей") %>
      </div>
    </div>
    <div class="sand_text">
      <%= image_tag("blue_img.svg", :alt => "Голубая картинка") %>
      <div class="">
          <p>Для любителя игр CoroOne станет источником уникальных игр и&nbsp;знаний о&nbsp;гейм-индустрии изнутри.</p>
      </div>
    </div>
    <div class="sand_facts">
      <div class="sand_facts_first">
         <div class="sand_facts_first_f">
           <h5>8700</h5>
           <p>проектов</p>
         </div>
         <div class="sand_facts_first_t">
           <p>Ежедневно в&nbsp;CoroOne публикуется огромное количество уникальных проектов. Вы&nbsp;можете собственными глазами увидеть развитие игры от&nbsp;концепта до&nbsp;запуска.</p>
         </div>
      </div>

      <div class="sand_facts_first">
         <div class="sand_facts_first_f">
           <h5>1589</h5>
           <p>разработчиков</p>
         </div>
         <div class="sand_facts_first_t">
           <p>Наша платформа — убежище для гейм-дизайнеров, в котором они поддерживают друг друга и делятся всем, чем считают нужным: своими мыслями, ошибками и достижениями.</p>
         </div>
      </div>

      <div class="sand_facts_first">
         <div class="sand_facts_first_f">
           <h5>9470</h5>
           <p>статей</p>
         </div>
         <div class="sand_facts_first_t">
           <p>В&nbsp;CoroOne вы&nbsp;надете множество полезных материалов, которые сделают вас настоящим знатоком индустрии игр: факты из&nbsp;жизни гейм-дизайнера, советы по&nbsp;разработке и&nbsp;обзоры ждут вас на&nbsp;сервисе уже сейчас.</p>
         </div>
      </div>
    </div>
    <div class="image_green">

    </div>

  </section>


  <section class="sell">

    <div class="sellback_info">
      <div class="sellback_text">
        <h3>Присоединяйся к&nbsp;нашему дружному коммьюнити</h3>
        <p>Почувствуй поддержку от комьюнити ребят, вместе с которыми тебе будет интересно делиться опытом, ставить эксперименты&nbspи развиваться</p>
        <a href="/users/sign_up"><button class="sell_button" type="button" name="button">Вступить</button></a>
      </div>
      <div class="sellback_text_img">
        <%= image_tag("peopleimg.svg", :alt => "Логотип") %>
      </div>
    </div>
  </section>





 </div>

</body>
<%= render 'footer/footerinner' %>

<% if user_signed_in? %>
<%= link_to "Админка", admin_context_path(curatorposts: "") %> |
<% end %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js"></script>
<script src="promo.js"></script>
