<%= render 'navbar/navbarinner' %>
<section class="first">
  <%= image_tag("spot_header.svg", :alt => "Пятно1") %>
  <div class="left">

    <%= image_tag("font_h1.svg", :alt => "Заголовок") %>
    <p>*А если какая-то не найдется, мы поможем <br> тебе сделать её самому</p>

    <div class="start">
      <%= image_tag("arrow.svg", :alt => "Стрелка") %>
      <a href="#">Начнем!</a>
    </div>

  </div>

  <div class="right">
    <%= image_tag("camel.svg", :alt => "Верблюд") %>
  </div>
</section>

<section class="second">
  <%= image_tag("spot_2.svg", :alt => "Пятно2") %>
  <%= image_tag("arrow.svg", :alt => "Стрелка2") %>
  <div class="left">
    <%= image_tag("font_h2.svg", :alt => "Медиа сервис для...") %>
    <p>Первая платформа объединяющая инди-разработчиков и&nbsp;любителей видео-игр.</p>
  </div>
  <div class="right">
    <%= image_tag("iphone.png", :alt => "Экран") %>
  </div>
  <div class="bottom">
    <span>Новости</span>
    <span>Статьи</span>
    <span>Обзоры</span>
    <span>Форум</span>
    <span>Коллекции</span>
    <span>Календарь</span>  
  </div>
</section>
<h1>Promo#index</h1>
<p>Find me in app/views/promo/index.html.erb</p>
<%= link_to "About", about_path %>
<h2 id="email">Узнать раньше всех о запуске проекта:</h2>
<%= render "subscribers/form" %>
