<%= form_for([@post, @post.answers.build]) do |f| %>
  <div class="field">
    <%= f.label :option %><br />
    <%= f.text_area :option %>
  </div>
  <div class="field">
    <%= f.label :correctness %>
    <%= f.check_box :correctness %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
