<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Project start date:</strong>
  <%= @project.project_start_date %>
</p>

<p>
  <strong>Project end date:</strong>
  <%= @project.project_end_date %>
</p>

<p>
  <strong>Download project:</strong>
  <%= @project.download_project %>
</p>

<p>
  <strong>Donate project:</strong>
  <%= @project.donate_project %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
