<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_body">

    <div class="text_form">

      <div class="field">
        <%= form.label "Теги" %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label "Название" %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
      	<%= form.label "Автор" %>
      	<%= form.text_field :author %>
      </div>

      <div class="field">
        <%= form.label "Контент" %>
        <%= form.cktext_area :content %>
      </div>

    </div>

    <div class="img_form">

        <div>
          <%= image_tag("photo_form_white.svg", :alt => "Фото") %>
          <%= form.label "Добавьте изображение" %>
          <%= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
          <br>
          <%= form.file_field :image %>
        </div>

    </div>

  </div>

  <div class="actions">
    <%= form.submit "Создать пост"%>
  </div>

<% end %>
