<body class="edit_post">
   <%= render 'navbar/navbarinner' %>
   <div class="edit_post_wrapper">
     <div class="edit_post_card">
      <h1>Редактирование</h1>


    <% if @post.post_type.name == "news" %>
        <%= render 'formnews', post: @post %>
      <% elsif @post.post_type.name == "discussion" %>
            <%= render 'formdiscussion', post: @post %>
      <% elsif @post.post_type.name == "portfolio" %>
            <%= render 'formportfolio', post: @post %>
      <% elsif @post.post_type.name == "reviews" %>
            <%= render 'formreviews', post: @post %>
      <% elsif @post.post_type.name == "articles" %>
            <%= render 'formarticles', post: @post %>
      <% elsif @post.post_type.name == "events" %>
            <%= render 'formevents', post: @post %>
      <% else %>
        <%= render 'formpuzzles', post: @post %>
        <% if @post.id? %>
            <h2>Add answer:</h2>
              <%= render "answers/form" %>
        <% end %>
    <% end %>



      <%= link_to 'Открыть', @post %> |
      <%= link_to 'Назад', posts_path %>
    </div>
  </div>
  <%= render 'footer/footerinner' %>
</body>
