<body class="new_post">

   <div class="new_post_wrapper">
     <div class="new_post_card">
       <%= react_component 'A_title', { title: "Редактирование поста", headingStyle: 'h2' } %>

    <% if @post.post_type.name == "Новости" %>
        <%= render 'form', post: @post %>
      <% elsif @post.post_type.name == "Статьи" %>
            <%= render 'form', post: @post %>
      <% elsif @post.post_type.name == "Обзоры" %>
            <%= render 'formreviews', post: @post %>
      <% elsif @post.post_type.name == "Мастерская" %>
            <%= render 'formportfolio', post: @post %>
      <% elsif @post.post_type.name == "Кладбище проектов" %>
            <%= render 'formnecrology', post: @post %>
      <% else %>
        <%= render 'form', post: @post %>
        <% if @post.id? %>
            <h2>Добавить ответ:</h2>
              <%= render "answers/form" %>
        <% end %>
    <% end %>


      <%= link_to 'Открыть', @post %> |
      <%= link_to 'Назад', admin_context_path(curatorposts: "") %>
    </div>
  </div>
</body>
