<body class="edit_post">
   <%= render 'navbar/navbarinner' %>
   <div class="edit_post_wrapper">
     <div class="edit_post_card">
      <h1>Редактирование</h1>

      <%= render 'form', post: @post %>

      <%= link_to 'Открыть', @post %> |
      <%= link_to 'Назад', posts_path %>
    </div>
  </div>
  <%= render 'footer/footerinner' %>
</body>
