<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<div class="Spider_section">
  <%= react_component 'M_post_types_nav', { post_types: @post_types } %>
  <% spider_post = @posts[0] %>
  <% news_banner = @posts[1] %>
  <% articles_banner = @posts[2] %>
  <% reviews_banner = @posts[3] %>
  <% spider_post_id = [] %>
  <% spider_post_id.push(spider_post["id"])%>
  <% spider_post_id.push(news_banner["id"])%>
  <% spider_post_id.push(articles_banner["id"])%>
  <% spider_post_id.push(reviews_banner["id"])%>

  <%= react_component 'M_spider', { post: spider_post } %>
</div>

    <div class="News">
      <%= react_component 'A_post_type', { post_type: @post_types[0] } %>
      <%= react_component 'O_posts_preview', { post_type_id: 1, post_number: 17, remove_post: spider_post_id} %>
    </div>

    <%= react_component 'M_post_preview', { post: news_banner, category: @posts[2]["category"], postStyle: 'ps--screen' } %>

    <div class="Articles">
      <%= react_component 'A_post_type', { post_type: @post_types[3] } %>
      <%= react_component 'O_articles_preview', { post_type_id: 5, post_number: 14 } %>
    </div>

    <%= react_component 'M_post_preview', { post: articles_banner, category: @posts[2]["category"], postStyle: 'ps--screen' } %>

    <div class="Reviews">
      <%= react_component 'A_post_type', { post_type: @post_types[2] } %>
      <%= react_component 'O_reviews_preview', { post_type_id: 4, post_number: 11 } %>
    </div>

    <%= react_component 'M_post_preview', { post: reviews_banner, category: @posts[2]["category"], postStyle: 'ps--screen' } %>

    <div class="Necrology">
      <%= react_component 'A_post_type', { post_type: @post_types[6] } %>
      <%= react_component 'O_posts_preview', { post_type_id: 8, post_number: 13 } %>
    </div>

    <div class="Workshop">
    <%= react_component 'A_post_type', { post_type: @post_types[1] } %>
    <%= react_component 'O_posts_preview', { post_type_id: 3, post_number: 13 } %>
    </div>
    <br>

    <div class="new_post_link">
      <%= link_to 'Создать пост', new_post_path %>
      <%= link_to 'New Category', new_category_path %>
    </div>

    <%= react_component 'A_video' %>

  <%= render 'footer/footerinner' %>
