<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<% set_meta_tags title: 'All Awesome Post Page', description: 'All this content huge af'%>
<% set_meta_tags og: {
    title: ['All Awesome Post Page']
}  %>

<div class="Spider_section">
  <%= react_component 'M_post_types_nav', { post_types: @post_types } %>
  <% spider_post = @posts[0] %>
  <% news_banner = @posts[1] %>
  <% articles_banner = @posts[2] %>
  <% reviews_banner = @posts[3] %>
  <% spider_post_id = [] %>
  <% spider_post_id.push(spider_post["id"])%>
  <% spider_post_id.push(news_banner["id"])%>
  <% spider_post_id.push(articles_banner["id"])%>
  <% spider_post_id.push(reviews_banner["id"])%>

  <%= react_component 'M_spider', { post: spider_post } %>
</div>

    <div class="Post_type_section_wrapper">
      <%= react_component 'A_post_type', { post_type: @post_types[0] } %>
      <%= react_component 'O_news_preview', { post_type_id: 1, post_number: 17, remove_post: spider_post_id} %>
      <%= react_component 'M_more_info', {moreInfoType: "more_news"} %>
    </div>

    <%= react_component 'M_post_preview', { post: news_banner, category: @posts[2]["category"], postStyle: 'ps--screen' } %>

    <div class="Post_type_section_wrapper">
      <%= react_component 'A_post_type', { post_type: @post_types[1] } %>
      <%= react_component 'O_articles_preview', { post_type_id: 2, post_number: 14, remove_post: spider_post_id } %>
      <%= react_component 'M_more_info', {moreInfoType: "more_articles"} %>
    </div>

    <%= react_component 'M_post_preview', { post: articles_banner, category: @posts[2]["category"], postStyle: 'ps--screen' } %>

    <div class="Post_type_section_wrapper">
      <%= react_component 'A_post_type', { post_type: @post_types[2] } %>
      <%= react_component 'O_reviews_preview', { post_type_id: 3, post_number: 10, remove_post: spider_post_id } %>
      <%= react_component 'M_more_info', {moreInfoType: "more_reviews"} %>
    </div>

    <%= react_component 'M_post_preview', { post: reviews_banner, category: @posts[2]["category"], postStyle: 'ps--screen' } %>

    <div class="Post_type_section_wrapper Without_shadow">
      <%= react_component 'A_post_type', { post_type: @post_types[4] } %>
      <%= react_component 'M_necro_add' %>
      <%= react_component 'O_necrologyposts_preview', { post_type_id: 5, post_number: 8 } %>
      <%= react_component 'M_more_info', {moreInfoType: "more_necrologies"} %>
    </div>

    <div class="Workshop_wrapper">
    <%= react_component 'A_post_type', { post_type: @post_types[3] } %>
    <%= react_component 'O_projects_preview', { current_user_id: current_user.id, genres: @genre, projectPlace: 'new' } %>

    <% current_user_id = -1 %>
    <%if current_user%>
      <%current_user_id= current_user.id%>
    <% end %>
    <%= react_component 'S_userposts_preview', { post_type_id: 4, post_number: 13, current_user_id: current_user_id, user: current_user} %>
    </div>
    <br>

    <div class="new_post_link">
      <%= link_to 'Создать пост', new_post_path %>
      <%= link_to 'New Category', new_category_path %>
    </div>

    <%= react_component 'A_video' %>

  <%= render 'footer/footerinner' %>
