<body class="posts">
  <%= render 'navbar/navbarinner' %>
  <div class="wrapper_posts">


<<<<<<< HEAD
    <#%= react_component 'M_navbar'%>
=======
    <%= react_component 'M_navbar', {icontype:"profile"}%>
>>>>>>> 5eafcf2f1094dacca0d97b4c8c85781cbcca6c68
    <%= react_component 'M_checkbox'%>
    <%= react_component 'M_post_types_nav', { post_types: @post_types, post_type: @post_type } %>
    <%= react_component 'M_categories_nav', { categories: @categories } %>

    <%= react_component 'O_posts_preview', { post_type_id: 1 } %>
    <%= react_component 'O_posts_preview', { post_type_id: 5 } %>
    <%= react_component 'O_posts_preview', { post_type_id: 4 } %>
    <%= react_component 'O_posts_preview', { post_type_id: 8 } %>
    <%= react_component 'O_posts_preview', { post_type_id: 3 } %>

    <br>

    <div class="new_post_link">
      <%= link_to 'Создать пост', new_post_path %>
      <%= link_to 'New Category', new_category_path %>
    </div>

  </div>
  <%= render 'footer/footerinner' %>
</body>
