<body class="posts">
  <%= render 'navbar/navbarinner' %>
  <div class="wrapper_posts">

    <%= image_tag("news.svg", :alt => "Новости") %>

    <div class="main_section">
      <div class="table_hidden">
          <span>Name</span>
          <span>Title</span>
          <span>Author</span>
          <span>Content</span>
      </div>

      <div class="posts_cards">
        <% @posts.each do |post| %>
        <div class="one_card">
          <div class="info">
            <div  class="posts_img"><%= link_to(image_tag(post.image.thumb.url, alt: 'Image'), post.image.url, target: '_blank') if post.image? %></div>
            <div class="name"><%= post.name %></div>
            <div class="title"><%= post.title %></div>
            <div class="content"><%= post.content.html_safe %></div>
          </div>
          <div class="action">
            <div><%= link_to 'Открыть', post %></div>
            <div><%= link_to 'Редактировать', edit_post_path(post) %></div>
            <div><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
        </div>

        <% end %>
      </div>
    </div>

    <br>

    <div class="new_post_link">
      <%= link_to 'Создать пост', new_post_path %>
    </div>

  </div>
  <%= render 'footer/footerinner' %>
</body>
