    <%= react_component 'M_post_types_nav', { post_types: @post_types } %>

<% if @post_type[:id] == 1%>
  <%= react_component 'M_categories_nav', { categories: @categories, post_type_id: @post_type[:id] } %>
  <div class="News">
    <div class="Post_type_section_wrapper">
      <%= react_component 'O_puzzle_preview', { post_type_id: @post_type[:id], post_number: 8} %>
    </div>
    <div class="Post_type_section_wrapper">
      <%= react_component 'O_news_preview', { post_type_id: @post_type[:id], post_number: 110} %>
    </div>
  </div>
<% end %>

<% if @post_type[:id] == 2%>
  <%= react_component 'M_categories_nav', { categories: @categories, post_type_id: @post_type[:id] } %>
  <div class="News">
    <%= react_component 'O_posts_preview', { post_type_id: @post_type[:id], post_number: 17} %>
  </div>
<% end %>

<% if @post_type[:id] == 3%>
  <%= react_component 'M_genres_nav', { genres: @genres, post_type_id: @post_type[:id] } %>
  <div class="News">
    <%= react_component 'O_reviews_preview', { post_type_id: @post_type[:id], post_number: 17} %>
  </div>
<% end %>

<% if @post_type[:id] == 5%>
  <%= react_component 'M_categories_nav', { categories: @categories, post_type_id: @post_type[:id] } %>
  <div class="News">
    <%= react_component 'O_posts_preview', { post_type_id: @post_type[:id], post_number: 17} %>
  </div>
<% end %>

<% if @post_type[:id] == 4%>
  <%= react_component 'M_categories_nav', { categories: @categories, post_type_id: @post_type[:id] } %>
  <div class="News">
    <%= react_component 'O_posts_preview', { post_type_id: @post_type[:id], post_number: 17} %>
  </div>
<% end %>

  <%= render 'footer/footerinner' %>
