<body class="show_body">
  <%= render 'navbar/navbarleft' %>
  <div class="wrapper_show">
    <div class="narrow">
      <% if @post.category_id? %>
          <span>
            <%= @post.category.name %>
          </span>
      <% end %>
      <h1>
        <%= @post.title %>
      </h1>

      <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
        <p>
          <strong></strong>
          <%= @post.content.html_safe %>
        </p>
      </div>

      <h2>Ответы</h2>
        <%= render @post.answers %>
      <% if user_signed_in? %>
      <%= link_to 'Редактировать', edit_post_path(@post) %> |
      <% end %>
      <%= link_to 'Назад', admin_context_path(curatorposts: "") %>

  </div>
</body>
