<% current_user_id = -1 %>
<%if current_user%>
  <%current_user_id= current_user.id%>
<% end %>

<body class="show_body">

  <div class="wrapper_show">
    <div class="narrow">

      <%= react_component 'T_article', {
        post: @post,
        current_user_id: current_user_id,
        comment: @comment,
        author: @comment.user,
        post: @post,
        comments: @post.comments,
        currentUser: current_user,
        post_id: @post.id,
        user: current_user
      } %>

      </div>

  </div>

      <div class="comments">

      <h2>Комментарии</h2>
      <% topComments = @post.comments.select{|c| ! c.parent_id} %>
      <%= render topComments %>


      <h2>Добавить комментарий:</h2>
      <% if user_signed_in? %>
        <%= render "comments/form" %>
      <% else %>
        <p>Пожалуйста, <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> чтобы прокоменнтировать.</p>
      <% end %>

      <% if user_signed_in? %>
      <%= link_to 'Редактировать', edit_post_path(@post) %> |
      <% end %>
      <%= link_to 'Назад', admin_context_path(curatorposts: "") %>
      </div>

</body>
