<body class="show_body">

      <%= react_component 'M_necrology_view', { category: @category, categories: @categories, post: @post, post_type: @post.post_type, category: @post.category } %>


      <div class="comments">

      <h2>Комментарии</h2>
      <%= react_component 'A_title', { headingStyle: "h3", headingColor: "mineral-gray", title: "Комментарии" } %>

      <% if user_signed_in? %>
        <%= render "comments/form" %>
      <% else %>
        <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
      <% end %>
      
      <% topComments = @post.comments.select{|c| ! c.parent_id} %>
      <%= render topComments %>

      </div>

</body>
