<body class="show_body">
  <%= render 'navbar/navbarinner' %>
  <p id="notice"><%= notice %></p>
  <div class="wrapper_show">

    <p>
      <strong></strong>
      <%= @post.name %>
    </p>

    <p>
      <strong></strong>
      <%= @post.title %>
    </p>

    <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>

     <div class="narrow">

      <p>
        <strong></strong>
        <%= @post.content %>
      </p>

      <p>
      	<strong></strong>
      	<%= @post.author %>
      </p>

      <h2>Комментарии</h2>
      <%= render @post.comments %>

      <h2>Добавить комментарий:</h2>
      <%= render "comments/form" %>

      <%= link_to 'Редактировать', edit_post_path(@post) %> |
      <%= link_to 'Назад', posts_path %>
    </div>
  </div>
  <%= render 'footer/footerinner' %>
</body>
