<body class="show_body">
  <%= render 'navbar/navbarleft' %>
  <div class="wrapper_show">
    <div class="narrow">
      <% if @post.category_id? %>
          <span>
            <%= @post.category.name %>
          </span>
      <% end %>
      <h1><%= @post.title %></h1>
      <span class="small"><%= @post.created_at %></span> · <span class="small"><%= @post.author %></span>
      <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
        <p>
          <strong></strong>
          <%= @post.content.html_safe %>
        </p>
      </div>

      <div class="activity">
        <div class="count">
          <span><%= @post.likes.count %></span>
          <span><%= @post.favorites.count %></span>
        </div>

        <p>
        	<strong></strong>
        	<%#= @post.user_id %>
        </p>

        <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
        <% if user_signed_in? %>
          <div class="like">
          <% if pre_like %>
            <%= button_to '', post_like_path(@post, pre_like), method: :delete %>
          <% else %>
            <%= button_to '', post_likes_path(@post), method: :post %>
          <% end %>
          </div>

          <div class="favorite">
          <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
          <% if pre_favorite %>
              <%= button_to '', post_favorite_path(@post, pre_favorite), method: :delete %>
          <% else %>
              <%= button_to '', post_favorites_path(@post), method: :post %>
          <% end %>
          </div>
        <% end %>
      </div>

      <div class="comments">

      <h2>Комментарии</h2>
      <%= render @post.comments %>

      <h2>Добавить комментарий:</h2>
      <% if user_signed_in? %>
        <%= render "comments/form" %>
      <% else %>
        <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
      <% end %>

      <% if user_signed_in? %>
      <%= link_to 'Редактировать', edit_post_path(@post) %> |
      <% end %>
      <%= link_to 'Назад', admin_context_path(curatorposts: "") %>
      </div>
  </div>
</body>
