<% if notice %>
  <%= notice %>
<% end %>

<div class="wrapper">
  <%= render 'navbar/navbarinner' %>
  <section class="logo">
    <div class="logo_concept">
      <div class="concept">
         <p class="first_text">Именно с&nbsp;пиксельных игр (которые наиболее просты в&nbsp;плане создания визуала и&nbsp;механики) обычно начинают свой путь инди-рабработчики. Поэтому пиксельная игра&nbsp;&mdash; своеобразный мост между геймером и&nbsp;гейм-девелопером.</p>
         <p class="big_shift">Мы&nbsp;верим, что общение может быть без негативных моментов и&nbsp;всегда поощряем пользователей, помогающих друг другу. Наша цель&nbsp;&mdash; создать дружелюбное комьюнити, где и&nbsp;геймеры, и&nbsp;разработчики чувствовали&nbsp;бы себя комфортно.</p>
      </div>
      <h1>Логотип</h1>
      <h2>Общие сведения</h2>
      <p>Модульность, динамичная пластика и&nbsp;лаконичность&nbsp;&mdash; все чтобы сделать лого максимально узнаваемым во&nbsp;всех размерах и&nbsp;во&nbsp;всех контекстах.</p>
      <p class="beforephoto">Логотип включает в&nbsp;себя знак нейминг и&nbsp;дескриптор, которые по-разному компонуются в&nbsp;зависимости от&nbsp;формата носителя.</p>

      <div class="logo_blocks">
        <%= image_tag("logo1.svg", :alt => "Логотип") %>
        <p class="pp big_shift">На&nbsp;большинстве форматов задействуется типографический логотип без дискриптора.</p>
      </div>

      <div class="logo_blocks">
        <%= image_tag("logo2.svg", :alt => "Логотип") %>
        <p class="pp big_shift">На&nbsp;большинстве форматов задействуется типографический логотип без дискриптора.</p>
      </div>

      <div class="logo_blocks_smalllogo ">
        <%= image_tag("logo3.svg", :alt => "Логотип") %>
        <p class="pp big_shift">В&nbsp;случае, если размер логотипа не&nbsp;превышает 100px, используется знак или аббревиатура.</p>
      </div>
    </div>

    <div class="logo_design">
      <h2>Построение</h2>
      <p class="above_photo">В&nbsp;основе логотипа простые формы круга и&nbsp;квадрата отсылающие к&nbsp;пиксельной структуре.Для расположения элементов используются
модули 2x, 3x&nbsp;и&nbsp;6x.</p>
      <%= image_tag("designing_logo.png", :alt => "Построение логотипа") %>
      <p с><p class="under_photo">В&nbsp;основе логотипа простые формы круга и&nbsp;квадрата отсылающие к&nbsp;пиксельной структуре.Для расположения элементов используются
модули 2x, 3x&nbsp;и&nbsp;6x.</p>
      <div class="logo_design_img">
        <div class="logo_design_img_two">
          <%= image_tag("dl2.png", :alt => "Построение логотипа") %>
          <%= image_tag("dl3.png", :alt => "Построение логотипа") %>
        </div>
          <%= image_tag("dl4.png", :alt => "Построение логотипа") %>
      </div>
    </div>

    <div class="logo_field">
      <h2>Охранное поле</h2>
      <p class="above_photo">Минимальное расстояние от&nbsp;логотипа до&nbsp;других объектов равно высоте заглавной букве &laquo;С&raquo;.</p>
      <%= image_tag("logo_field.svg", :alt => "Охранное поле") %>
      <p class="under_photo">Минимальное расстояние от&nbsp;логотипа до&nbsp;других объектов равно высоте заглавной букве &laquo;С&raquo;.</p>
      <%= image_tag("logo_field2.svg", :alt => "Охранное поле") %>
   </div>

   <div class="examples_of_using">
      <h2>Примеры использования</h2>
      <p>На&nbsp;вертикальных носителях логотип ставится в&nbsp;нижним правом углу, а&nbsp;на&nbsp;горизонтальных занимает нижним левый угол.</p>
      <div class="img_one_of_two">
        <div class="img_one_of_two">
          <%= image_tag("useing1.svg", :alt => "Примеры использования") %>
          <span>Документация (листы A4 и A5), визитки</span>
        </div>
        <div class="img_one_of_two">
          <%= image_tag("using2.svg", :alt => "Примеры использования") %>
          <span>Инстаграм, иконки, мерч</span>
        </div>
      </div>
      <div class="img_two_of_two">
        <div class="img_one_of_two">
          <%= image_tag("using3.svg", :alt => "Примеры использования") %>
          <span>Печатные издания</span>
        </div>
        <div class="img_one_of_two">
          <%= image_tag("using4.svg", :alt => "Примеры использования") %>
          <span>Документация (листы A4)</span>
        </div>

      </div>
   </div>
 </section>



 <section class="typography">
   <div class="fonts">
     <h1>Типографика</h1>
     <h2>Шрифты</h2>
     <p>Если Red Ring используется для набора основного текста , то&nbsp;PT&nbsp;Mono применяется для набора вспомогательного. Шрифт CoroOne используется для акциденции, преимущественно в&nbsp;числительных.</p>
     <div class="two_fonts">
       <div class="kinds_of_fonts">
         <p class="medium">RedRing Light</p>
         <%= image_tag("Light.svg", :alt => "RedRing Light") %>
         </div>
       <div class="kinds_of_fonts">
          <p class="medium">RedRing Regural</p>
          <%= image_tag("Regural.svg", :alt => "RedRing Regural") %>
        </div>
     </div>
      <div class="kinds_of_fonts">
         <p class="medium">RedRing Medium</p>
         <%= image_tag("Medium.svg", :alt => "RedRing Medium") %>
       </div>
       <div class="kinds_of_fonts">
          <p class="medium">PT Mono</p>
          <%= image_tag("PTMono.svg", :alt => "PT Mono") %>
        </div>
        <div class="kinds_of_fonts our_font">
           <p class="medium">Шрифт Coroone</p>
           <%= image_tag("our_font.svg", :alt => "CoroOne") %>
         </div>
   </div>
   <div class="ratios">
    <h2>Соотношения</h2>
    <p>При размере основного текста равного&nbsp;X, вспомогательный текст составляет 0.75X, а&nbsp;заголовки&nbsp;&mdash; 1.6X. В&nbsp;другом варианте для заголовка ипользуется тот&nbsp;же кегль шрифта, но&nbsp;более жирного начертания.</p>
    <div class="img_one_of_two">
      <div class="">
        <%= image_tag("fonts_using1.svg", :alt => "Использование шрифта") %>
        <p class="small">Заголовок: Red Ring Regular<br>Основной текст: Red Ring Regular<br>Дополнительный текст: PT Mono Regular</p>
      </div>
      <div class="">
        <%= image_tag("fonts_using.svg", :alt => "Использование шрифта") %>
        <p class="small">Заголовок: Red Ring Regular<br>Основной текст: Red Ring Regular<br>Дополнительный текст: PT Mono Regular</p>
      </div>
    </div>
  </div>
 </section>

 <section class="composition">
   <div class="elements">
     <h1>Комопозиция</h1>
     <h2>Элементы</h2>
     <p>Сетка</p>
   </div>
 </section>







</div>
